<section style="padding-top: 30px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 text-center box" (click)="goTopage('addincome')">
                <div class="meta_card">
                    <img src="assets/img/3594376.png" class="img-fluid"/>
                    <p>Add Income</p>
                </div>
                
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 text-center box" (click)="goTopage('addexpenses')">
                <div class="meta_card">
                    <img src="assets/img/cost-icon-expense-149340849.jpg" class="img-fluid"/>
                    <p>Add Expenses</p>
                </div>
                
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 text-center box" (click)="goTopage('report')">
                <div class="meta_card">
                    <img src="assets/img/report.jpg" class="img-fluid"/>
                    <p>Report</p>
                </div>
                
            </div>
        </div>
       
    </div>
</section>
