.box{

    padding: 12px 12px 10px 10px;
    height: 100%;
    cursor: pointer;
}
.meta_card{
box-shadow: 1px 1px 2px 2px;
padding: 12px 12px 10px 10px;
}
.meta_card p{
font-size: 20px;
font-weight: 600;
}
.meta_card img{

 height: 50px;
 width: 50px;
 margin-bottom: 20px;   
}
.meta_chart{
padding: 12px 12px 10px 10px;
}   